# entity-api Test Report

- Total tests: 41

- Failures: 20

- Errors: 3

- Skipped: 0

- Duration (s): 129.14

- Line coverage: 34.66%
